<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.huda_haryana">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name="com.allyants.notifyme.NotificationPublisher" />
        <receiver android:name="com.allyants.notifyme.BootNotifyMe">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
        <activity
            android:name=".Lead.SetTask"
            android:theme="@style/business" />
        <activity android:name=".Lead.AddTask"
            android:theme="@style/business"/>
        <activity android:name=".login" />
        <activity
            android:name=".Lead.AddLabels"
            android:theme="@style/business" />
        <activity
            android:name=".Lead.LeadNote"
            android:theme="@style/business" />
        <activity
            android:name=".Lead.LeadOptions"
            android:theme="@style/business" />
        <activity android:name=".Registeractivity" />
        <activity android:name=".phone_login" />
        <activity
            android:name=".mybusiness.NewNote"
            android:theme="@style/business" />
        <activity
            android:name=".mybusiness.EditDetails"
            android:theme="@style/business" />
        <activity
            android:name=".mybusiness.NotesActivity"
            android:theme="@style/business" />
        <activity android:name=".SplashActivity"
            android:theme="@style/splash"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mybusiness.BusinessActivity" />
        <activity android:name=".Signupcode"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ask_details" />
        <activity android:name=".MainActivity">

        </activity>
        <activity
            android:name=".very_main"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <receiver android:name=".Lead.AddAlarm"
            android:enabled="true"
            android:exported="true"/>
    </application>

</manifest>